<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://kazialuceportfolio.netlify.com">Kazia</a>, who enjoys learning to code and helping people reach their health goals.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%=image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1"
      <h2 class="text-center">Kazia Luce</h2>
      <br />
      <p>
        Kazia Luce is a web development student and enjoying the new challenge. She has worked as a Nurse Practitioner in primary care and women's health. She greatly enjoys teaching NCLEX review courses, which prepares students to become licensed RNs and LVNs. 
      </p>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />






